<div class="row">
  <div class="col s5 fade-this">
    <h4 class="faded-title">Profile</h4>
    <h1>@<%= @user.username %></h1>
  </div>
  <div class="col s5 right">
    <div class="recent-searches">
      <h4>Recent Searches</h4>
      <% if !@user.searches.empty? %>
        <div class="col s8" data-turbolinks="false">
          <% @user.searches.last(5).reverse.each do |hist| %>
            <a href="/search/results?location=<%= hist.search_term %>"><p class=recent-searches-p><%= hist.search_term %></p></a>
          <% end %>
        </div>
      <% else %>
        <div class="no-searches-div">
          <h5>Your recent weather searches will appear here.</h5>
          <h5>Try searching for a <a href="/search" class="prof-link">forecast</a> or using the <a class="prof-link" href="/search?type=timemachine">time machine</a>.</h5>
        </div>
      <% end %>
    </div>
  </div>
</div>
