<div class="row">
  <div class="col s5">
    <h2>Search</h2>
    <%= form_tag("/search/results", method: "get") do %>
    <div class="input-field search-input-fields">
      <%= label_tag(:location, "City, town, or landmark:") %>
      <%= text_field_tag(:location) %>
    </div>
    <div class="input-field search-button-field">
      <%= submit_tag "Search", name: nil, class: "input-btn btn right search-button"%>
    </div>
    <% end %>
  </div>
</div>
