body {
  font-family: 'Work Sans', sans-serif;
  transition: background-color 300ms;
}

main#main-content {
  margin-top: 90px;
  margin-bottom: 60px;
}

.main-title {
  font-size: 90px;
}

div.nav-wrapper {
  background-color: transparent !important;
}

nav {
  background-color: #fff;
}

.logo {
  color: black;
  display: inline-block;
  margin: 0 25px;
}

.logo-color {
  color: black;
}

div.input-field {
  margin-bottom: 0px;
}

div.input-field label, input {
  font-size: 18px !important;
}

.search-button-field{
  margin-top: 0px;
}

ul li a.navbar-a {
  padding: 0 40px;
  color: black;
}

.scrolled {
  background-color: transparent;
  box-shadow: none !important;
  transition: box-shadow 400ms linear;

  -webkit-box-shadow: none !important;
  transition: -webkit-box-shadow 400ms linear;
}

div.recent-searches {
  margin-top: 40px;
}

p.recent-searches-p {
  margin: 0px;
  padding: 10px;
  color: #26a69a;
  transition: background-color 300ms, transform 200ms;
}

.recent-searches-p:hover {
  background-color: #f6f6f6;
  transition: background-color 300ms, transform 200ms;
  transform: translateX(-10px)
}

.faded-title {
  opacity: 0.5;
}

.background-change {
  background-color: #d4eaea;
  transition: background-color 400ms;
}


/* Weather card formats */

.weather-card-summary {
  margin-top: 45px !important;
  font-size: 50px;
}

.weather-card-temperature {
  font-size: 100px;
}

.weather-card-details {
  font-size: 25px;
}

/* Week card formats */

.week-card-summary {
  font-size: 40px;
}

.week-temp-icon {
  font-size: 100px;
}

p.week-temp-icon-p {
  margin-top: 30px !important;
  margin-left: 10px !important;
}

.week-temp-day {
  font-size: 40px;
  font-weight: 600;
}

.week-temp-number-high {
  font-size: 30px;
}

.week-temp-number-low {
  font-size: 30px;
  opacity: 0.6;
}

.weekday-temp-icon {
  font-size: 50px;
}

.weekday-div {
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  transition: background-color 200ms ease-out, transform 100ms ease-out;
}

.weekday-div:hover {
  background-color: #80cbc4;
  transition: background-color 50ms ease-out, transform 200ms ease-out;
  transform: translateY(-5px);
}

hr {
  margin: 40px 0px 20px 0px;
  border: 1px white solid;
}

li.tab a.tab-link {
  font-size: 20px;
}

main.fade-this {
  animation: fadeIn 600ms ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

div#temperature, div#details {
  opacity: 0.8;
}

.weather-card-details-tab {
  padding: 15px 10px;
  font-size: 40px;

}
