.main-title:hover {
  color: #26a69a;
  transition: color 300ms;
  -webkit-transition: color 300ms;
}

.logo {
  color: black;
  display: inline-block;
  margin: 0 25px;
}

.logo-color {
  color: black;
}

div.input-field {
  margin-bottom: 0px;
}

div.input-field label, input {
  font-size: 18px !important;

}

div.nav-wrapper {
  background-color: #fff
}

ul li a.navbar-a {
  padding: 0 40px;
  color: black;
}

.scrolled {
  box-shadow: none !important;
  transition: box-shadow 400ms linear;

  -webkit-box-shadow: none !important;
  transition: -webkit-box-shadow 400ms linear;
}

.input-btn {
  margin-top: 10px;
}

div.recent-searches {
  margin-top: 60px;
}

p.recent-searches-p {
  margin: 0px;
  padding: 10px;
  color: #26a69a;

}

.recent-searches-p:hover {
  background-color: #f6f6f6;
  transition: background-color 300ms;
}
